oracledb                # Used for connecting to oracle database
configparser            # Used for reading config files
psycopg[binary]         # Used for connecting to postgres database
logging                 # Used for logging
openpyxl                # Used for working with excel files
